/* Теги */
body, html {
    margin: 0px;

    background: rgb(18,19,18);
    background: linear-gradient(333deg, rgba(18,19,18,1) 0%, rgba(0,14,5,1) 43%, rgba(17,53,171,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: hidden;
}

hr {
    margin-top: 1.3em;
    margin-left: 0.9em;
    
    color: hsla(216, 82%, 59%, 1);
    border: 1px solid #3F84ED;
    width: 0px;
    height: 30px;
}

/* Анимации */
@keyframes fade-in {
    0% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(360deg);
    }

    100% {
        width: 7em;
        height: 7em;
    }
}

@keyframes spanim {
    0% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(50%);
    }

    100% {
        filter: brightness(100%);
    }
}

.fade-in {
    animation: fade-in 1s;
}

/* Классы */
/*------------------------------ Gosha ------------------------------*/
.Gosha {
    transform: rotate(360deg);
    
    width: 7em;
    height: 7em;

    transition: ease-in-out 0.4s;
}

.sp {
    width: 8em;
    height: 1em;

    opacity: 0;
    animation: spanim 1s infinite;

    transition: ease-in-out 0.4s;
}

.gosha__content {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
/*------------------------------ Настройки ------------------------------*/
.Settings_Btn {
    position: absolute;
    width: 3em;
}

.settings {
    margin-left: 4em;
    margin-top: 0.1em;
    
    width: 260px;
    height: 253px;
    
    background: linear-gradient(341.83deg, #EA2B2B -3.66%, #115A71 87.9%);

    border-radius: 3px;

    opacity: 0;

    transition: ease-in-out 0.2s;

    position: absolute;
}

.sett_ico {
    width: 4em;
    height: 4em;

    margin-left: 11px;
    margin-top: 8px;
}

.content__version {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;

    color: white;
}

.content__author {
    margin-left: -0.02em;
    margin-top: -0.5em;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 13px;

    color: white;
}

.content {
    margin-left: 1.4em;
    margin-top: 0.5em;
}

.openSource {
    margin-left: 1em;

    height: 0.3em;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 13px;

    color: white;
}

.opens {
    margin-left: 1.4em;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.55em;

    color: hsla(256, 96%, 69%, 1);
}

.c {
    display: flex;
    flex-direction: row;
}

.footer {
    width: 260px;
    height: 73px;

    margin-top: 0.9em;
}

.footer__cont {
    position: absolute;
}

.foot_sett_ico {
    width: 2.5em;
    height: 2.5em;

    margin-left: 6px;
    margin-top: 16px;
}

.footer__cont {
    display: flex;
    flex-direction: row;

    margin-top: 0.3em;
}

.gosha__name {
    margin-left: 0.5em;
    margin-top: 1.6em;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 20px;
    text-align: center;

    color: white;
}

.faqhelp {
    margin-top: 1.3em;
    margin-left: 1em;

    display: flex;
    flex-direction: column;
}

.link__faq {
    font-family: 'Montserrat', sans-serif;
    
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.3em;
    text-align: center;

    color: white;

    text-decoration: none;
}

.name {
    font-family: 'Montserrat', sans-serif;

    margin-top: -2.7em;
    margin-left: 0.5em;

    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    line-height: 10px;

    color: white;

    position: absolute;
}

.name2 {
    font-family: 'Montserrat', sans-serif;

    margin-top: -1.6em;
    margin-left: 0.5em;

    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    line-height: 10px;

    color: white;

    position: absolute;
}